
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  font-family: cursive;
}
.thead-role {
  background-color: #007bff;
  color: white;
  text-align: left;
}

.role-th, .role-tr td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button {
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .role-th, .role-tr td {
    padding: 10px;
    font-size: 14px;
  }
}
