/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f8fa;
  } */
@media screen and (max-width : 600px) {
  .info-header .background-shape, .info-section{
        position: static;
    width: 90%;
  }
  .info-stats{
    display: block;
    width: 90%;

  }
}